__pycache__
.pytest_cache
venv
Dockerfile
Makefile
*.xml
loadtest.bat
data/all_external_settings_old.json
data/all_internal_settings.json
data/all_internal_settings_110.json
data/all_internal_settings_185patches.json
data/all_internal_settings_5devices.json
data/all_internal_settings_single.json
*.log
*.html
ssh-ports.txt
